@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,200i,300,300i,800,800i|Montserrat:200,200i,300,300i,500,500i,800,800i');
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: linear-gradient(to right, #532B72, #F5A3AD);
  height: 100%;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-weight: 800; 
}

.create {
  margin-top: 4rem;
}

.dashlink {
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}

input {
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border-width: 0px;
  background-color: #FFFFFF;
  color: #000000;
}

.eventlist {
  padding: .5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  /* height: 25vh; */
  /* padding: 2rem;
  display: inline-flex;
  justify-content: space-around; */

  
}

.dashbox {
  height: 50vh;
  width: 35vw;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-around;
  background-color: #BA728F;
  flex-wrap: wrap;
  display: inline-flex;
}

.rsvpbox{
  width:60vw;
  display: inline-block;
  padding: 1rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #532B72;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;;
  font-size: 40px;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  height: 35px;
  text-decoration: none;
  margin-bottom: 2rem;
}

.link-wrap {
  display: flex;
}

.links {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  text-transform: capitalize;
  margin-right: 50px;
  text-decoration: none;
  color: white;
}
.kyzmt{
  text-decoration: none;
  color: white;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: capitalize;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid white 1.4px;
  text-decoration: none;
  background: transparent;
  margin: 1rem;
}

button:hover {
  background: #BA728F;
  text-decoration: none;
}

.deletebox {
  padding: 4px 10px 5px 10px;
  text-transform: lowercase;
}

ul {
  list-style-type: none;
  text-align: center;
  -webkit-padding-start: 0px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background:  #532B72;
  padding: .15rem;
}

.popedits {
  margin: .15rem;
  font-size: 12px;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 125px;
  height: 125px;
  overflow: hidden;
  border-radius: 50%;
  margin: .5rem;
}
.circular--landscapesmall {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin: .5rem;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  /* margin-left: -50px; */
}
.circular--landscapesmall img {
  width: auto;
  height: 100%;
  /* margin-left: -50px; */
}
.profilephoto {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin: .5rem;
}

.profilephoto img {
  width: auto;
  height: 100%;
  /* margin-left: -50px; */
}


.container {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #3CCACE;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.searchbar {
  padding: 10px 20px 10px 20px;
  height: 39px;
  width: 226px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 0rem;
  /* position: fixed; */
}

.searchbox {
  display:inline-block;
 
}

/* .steps_outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* background-color: rgba(0,0,0, 0.5); */
/* } */
/* .steps_inner {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 15%;
  bottom: 15%;
  margin: auto;
  background:  #532B72;
  padding: .15rem;
} */


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
