@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,200i,300,300i,800,800i|Montserrat:200,200i,300,300i,500,500i,800,800i');
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: linear-gradient(to right, #532B72, #F5A3AD);
  height: 100vh;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-weight: 200; 
}

.create {
  margin-top: 4rem;
}

input {
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border-width: 0px;
  background-color: #FFFFFF;
  color: #000000;
}

.dashbox {
  width: 25vw;
  width: 25vh;
  padding: 2rem;
  display: inline-flex;
  justify-content: space-around;
  background-color: #BA728F;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #532B72;
  height: 6%;
  padding: 20px;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;;
  font-size: 3rem;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: capitalize;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid white 1.4px;
  text-decoration: none;
  background: transparent;
  margin: 1.5rem;
}

button:hover {
  background: #BA728F;
  text-decoration: none;
}

.deletebox {
  padding: 4px 10px 5px 10px;
  text-transform: lowercase;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
